@use '../../../styles/variables/mediaq' as *;

.container-dashboard{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 95;
         @include tablets{
            position: static!important;
        }
    }
    &__nav{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

    }
    &__main{
        flex-grow: 1;

    }



}