@use '../../../styles/variables/mediaq' as *;
@use '../../../styles/variables/variables' as variables; ;

.container-dashboard{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    &__header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 95;
         @include tablets{
            position: static!important;
        }
    }
    &__nav{
        width: 100% !important;
        height: 100vh !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        //background-color: variables.$black-transparent;

    }
    &__main{
        width: 100%;

    }
    &__footer{
        width: 100%;
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 90;
         @include tablets{
            position: static;
        }
    }


}

.active{
    animation: apearMenu .5s  both;
}
.inactive{
    animation: desactiveMenu .5s both;
}

@keyframes apearMenu {
    from{
        opacity: .2;
        translate: -3000px 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes desactiveMenu {
    from{
        opacity: 1;
        translate: 0 0;
    }
    to{
        translate: -3000px 0;
        opacity: .2;
    }
}

