@use '../../../styles/variables/mediaq' as *;

.container-dashboard{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header{
        position: fixed;
        z-index: 95;
    }
    &__nav{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

    }
    &__main{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        @include tablets{
            position: static;
        }
    }


}
.container-dashboard__header, .container-dashboard__nav, .container-dashboard__main, .container-dashboard__footer {
    width: 100%;
}