@defer () {
<div class="container-login">
    <app-custom-alert/>
    <h2>Restablecer Contraseña</h2>
    <div class="container-login__form">
        <form [formGroup]="resetForm" class="form-login" (submit)="resetPassword()" >
            <div class="form-login__logo">
            <img  src="../../../../assets/images/vikingoTech1.jpg"/>
            </div>
            <div class="form-login__user">

                <div class="form-login__user--password" >
                    @if(this.padLock()){
                        <mat-icon aria-hidden="false" aria-label="Contraseña" fontIcon="lock" (click)="setPadLock()"></mat-icon>
                    }@else {
                        <mat-icon aria-hidden="false" aria-label="Mostrar contraseña" fontIcon="lock_open" (click)="setPadLock()"></mat-icon>
                    }
                    <input [type]="this.padLock()? 'password':'text'" placeholder="Contraseña" formControlName="password" name="password" id="password">
                </div>
                <div>
                    @if( password?.errors?.['required'] && password?.touched ){
                        <span [style.color]="'var(--mat-sys-error)'" >La contraseña es obligatoria</span>
                    }
                    @if( password?.errors?.['pattern'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La contraseña debe contener mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula, un número </span>
                    }
                    @if( password?.errors?.['minlength'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La contraseña debe terner mínimo 8 caracteres </span>
                    }
                    @if( password?.errors?.['maxlength'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La contraseña debe tener máximo 255 caracteres </span>
                    }
                </div>
                <div class="form-login__user--password" >
                    @if(this.padLock()){
                        <mat-icon aria-hidden="false" aria-label="Contraseña" fontIcon="lock" (click)="setPadLock()"></mat-icon>
                    }@else {
                        <mat-icon aria-hidden="false" aria-label="Mostrar contraseña" fontIcon="lock_open" (click)="setPadLock()"></mat-icon>
                    }
                    <input [type]="this.padLock()? 'password':'text'" placeholder="Confirme contraseña" formControlName="password_confirmation" name="password_confirmation" id="password_confirmation">
                </div>
                <div>
                    @if( password_confirmation?.errors?.['required'] && password_confirmation?.touched ){
                        <span [style.color]="'var(--mat-sys-error)'" >La confirmación de contraseña es obligatoria</span>
                    }
                    @if( password_confirmation?.errors?.['pattern'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La confirmación de contraseña debe contener mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula, un número </span>
                    }
                    @if( password_confirmation?.errors?.['minlength'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La confirmación de contraseña debe terner mínimo 8 caracteres </span>
                    }
                    @if( password_confirmation?.errors?.['maxlength'] ){
                        <span [style.color]="'var(--mat-sys-error)'" > La confirmación de contraseña debe tener máximo 255 caracteres </span>
                    }
                </div>
                <div class="form-login__btn">
                    <button class="btn" matButton="filled" [disabled]="resetForm.invalid" >Enviar</button>
                </div>
            </div>
        </form>

    </div>
</div>
}
