
<div class="container-carousel">
    <div class="container-carousel__arrow">
        <mat-icon fontIcon="chevron_left"></mat-icon>
    </div>
    <div class="container-carousel__img">
        <picture>
            <source media="(min-width: 650px)" srcset="../../../../assets/images/1800X650.png">
            <img src="../../../../assets/images/545x800.webp" alt="banner">
        </picture>
    </div>
    <div class="container-carousel__slides">
       <div class="slides"></div>
       <div class="slides"></div>
       <div class="slides"></div>
       <div class="slides"></div>
     </div>
    <div class="container-carousel__arrow">
        <mat-icon fontIcon="chevron_right"></mat-icon>
    </div>
</div>
