@use 'variables/typography' as font;
@use 'variables/variables' as variables;

*{
  font-family: font.$main-family-Roboto-Regular;
  //border-box para que no se salga de su contenedor
  box-sizing: border-box;
  min-width: 0;
  margin: 0;

  a{
    text-decoration: none;
    //color: color.$principal;
  }
  scrollbar-color: variables.$primary variables.$gray-200;
  //thin para que sea delegado por el navegador esto quiere decir que en chrome sera delgado y en firefox tambien
  scrollbar-width: thin;

}

html, body{
  //dvh es para que tome el 100% de la pantalla
  min-height: 100dvh;
  //max-height: 100dvh;
  background: variables.$gray-200;
  //box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  //text-wrap balance sirve para que se corte la palabra
  text-wrap: balance;
}
p, span{
  //text-wrap pretty sirve para que no se corte la palabra
  text-wrap: pretty;
}

img{
  //esto es para que la imagen se ajuste al tamaño del contenedor
  object-fit: cover;
  //esto es para que la imagen se centre en el contenedor
  object-position: center center;
}

.alert{
  font-size: 0.8em;
}