@use '../../../../styles/variables/variables' as variables;
@use '../../../../styles/material-theme' as *;
@use '../../../../../src/styles/variables/mediaq' as *;

.container-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__nav{
        width: 450px;
        height: 100vh;
        background-color: variables.$primary;
        //colocar scrooll del eje y
        overflow-y: auto;
        //quitar scrooll del eje x
        overflow-x: hidden;
        @include phone{
            width: 90%;
        }
        &--close{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 20px;
            box-sizing: border-box;
            mat-icon{
                color: variables.$white;
                font-size: 1.5rem;
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        &--user{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 20px;
            box-sizing: border-box;
            gap: 10px;

            .img{
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .perfil{
                display: flex;
                flex-direction: column;
                gap: 5px;
                p{
                    color: variables.$white;
                    font-size: 1.1rem;
                    //primera en mayuscula
                    text-transform: capitalize;
                    //espacio entre letras
                    letter-spacing: 0.5px;
                    &:last-child{
                        font-size: 0.9rem;
                        font-weight: lighter;
                        cursor: pointer;
                    }
                }
            }
        }

        &--links{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 20px;
            box-sizing: border-box;
            @include phone{
                gap: 1px;
                margin-top: 10px;
            }

            .link{
                width: 100%;
                padding: 20px 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
                box-sizing: border-box;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;

                mat-icon{
                    color: variables.$white;
                    font-size: 1.5rem;
                    .link:hover &{
                        color: variables.$info;
                        transition: color 0.3s ease;
                    }
                }

                a, summary{
                    color: variables.$white;
                    font-size: 1.2rem;
                    text-align: left;
                }

                details{
                    max-height: 34px;
                    transition: max-height .8s;
                   

                    summary{
                        user-select: none;
                        position: relative;
                         cursor: pointer;
                        &::marker{
                            //content con flecha abajo parecida a la de select
                            content: '';
                        }
                        &::before{
                            font-size: 1.5rem;
                            font-family: "Material Icons";
                            content: '\e5cc';
                            position: absolute;
                            right: -30px;
                            transition: all 0.8s ease;
                        } 

                    }
                    &[open]{
                        max-height: 400px;
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                    &[open] ul{
                        animation:apear .8s .3s both;
                    }
                    &[open]::before{
                        content: '\e5cc' ;
                        font-size: 1.5rem;
                        position: absolute;
                        color: variables.$info;
                        left: 150px;
                        font-family: "Material Icons";
                        //rotar 180 grados
                        transform: rotate(90deg);
                        transition: transform 0.8s ease;

                    }
                }

                .submenu{
                    margin-left: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-top: 10px;
                    a{
                        font-size: 1rem;
                        &:hover{
                            color: variables.$info;
                        }
                    }

                }

                &:hover{
                    mat-icon{
                        color: variables.$info;
                        transition: color 0.3s ease;
                    }
                    .link-a, summary{
                        color: variables.$info;
                        transition: color 0.3s ease;
                    }
                }
                
            }
        }
    }
    &__transparent{
        width: calc(100% - 450px);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: left;
        @include phone{
            width:10%;
        }
    }

}

.active{
    color: variables.$info;
}


ul{
    list-style-type: none;
    padding-left: 0;
    li{
        width: 100%;
        list-style: none;
        padding: 5px 0;
    }
}

