<div class="container-navbar" >

    <div class="container-navbar__nav">
        <div class="container-navbar__nav--close" (click)="toggleMenu()" >
            <mat-icon aria-hidden="false" aria-label="Cerrar menú" fontIcon="close"></mat-icon>
        </div>
        <div class="container-navbar__nav--user">
            <div class="img">
                <img src="../../../../assets/images/avatar.jpg" alt="Avatar">
            </div>
            <div class="perfil">
                <p>Alejandro</p>
                <p>Mi perfil</p>
            </div>
        </div>
        <div class="container-navbar__nav--links" >
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }" >
                <mat-icon aria-hidden="false" aria-label="Ir a inicio" fontIcon="home" ></mat-icon>
                <a   (click)="toggleMenu(false)" [routerLink]="['/home/principal']" >Inicio</a>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Mis compras" fontIcon="shopping_bag"></mat-icon>
                <a  (click)="toggleMenu(true)"  [routerLink]="['/home/mis-compras']" >Mis compras</a>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Mantenimientos" fontIcon="build_circle"></mat-icon>
                <a  (click)="toggleMenu(true)"  [routerLink]="['/home/mantenimientos']" >Mantenimientos</a>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Categorias" fontIcon="category"></mat-icon>
                <div class="detail">
                    <details>
                        <summary>Categorías</summary>
                            <div class="submenu">
                                <ul>
                                    @for(category of categoriesProducts().data; track $index) {
                                        <li><a (click)="toggleMenu(true)" (click)="whiteHeader(true)" [routerLink]="['/home/categorias', category.slug]" routerLinkActive="active-nav">{{ category.name }}</a></li>
                                    }
                                </ul>
                            </div>
                    </details>
                </div>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Carrito compras" fontIcon="shopping_cart"></mat-icon>
                <a  (click)="toggleMenu(true)" (click)="whiteHeader(true)" [routerLink]="['/home/carrito-compras']" >Carrito compras</a>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Configuración" fontIcon="search"></mat-icon>
                <a  (click)="toggleMenu(true)" (click)="whiteHeader(true)" [routerLink]="['/home/buscar']" >Buscar</a>
            </div>
            <div class="link" routerLinkActive="active-nav" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon aria-hidden="false" aria-label="Iniciar sesión" fontIcon="person"></mat-icon>
                <a  (click)="toggleMenu(true)" (click)="whiteHeader(true)" [routerLink]="['/home/iniciar-sesion']" >Iniciar sesión</a>
            </div>
            
        </div>
    </div>
    <div class="container-navbar__transparent"  
    [ngStyle]="{'background-color': activeMenu() ? colorBlackTransparent : '', 'visibility': activeMenu() ? visibleMenu() : 'hidden' }"
    (click)="toggleMenu(true)">
        
    </div>
</div>
