$main-family-Roboto: 'Roboto';

$main-family-Roboto-Black: #{$main-family-Roboto}-Black;
$main-family-Roboto-BlackItalic: #{$main-family-Roboto}-BlackItalic;
$main-family-Roboto-Bold: #{$main-family-Roboto}-Bold;
$main-family-Roboto-BoldItalic: #{$main-family-Roboto}-BoldItalic;
$main-family-Roboto-Italic: #{$main-family-Roboto}-Italic;
$main-family-Roboto-Light: #{$main-family-Roboto}-Light;
$main-family-Roboto-LightItalic: #{$main-family-Roboto}-LightItalic;
$main-family-Roboto-Medium: #{$main-family-Roboto}-Medium;
$main-family-Roboto-MediumItalic: #{$main-family-Roboto}-MediumItalic;
$main-family-Roboto-Regular: #{$main-family-Roboto}-Regular;
$main-family-Roboto-Thin: #{$main-family-Roboto}-Thin;
$main-family-Roboto-ThinItalic: #{$main-family-Roboto}-ThinItalic;

$main-family-Audiowide: 'Audiowide';
$main-family-Audiowide-Regular: #{$main-family-Audiowide}-Regular;

$main-family-BankGothic: 'BankGothic';
$main-family-BankGothic-LightRegular: #{$main-family-BankGothic}-LightRegular;
$main-family-BankGothic-Medium: #{$main-family-BankGothic}-Medium;
$main-family-BankGothic-Bold: #{$main-family-BankGothic}-Bold;
