@use '../../../../styles/variables/variables' as *;

.cotainer-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 20px;
    background-color: $primary;
    padding: 30px 10px;

    &__about{
        h3{
            color:$white;
            padding: 10px 0;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 1.3rem;
        }

        &--text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            gap: 5px;
            a{
                color:$gray-500;
                font-weight: 100;
                letter-spacing: 0.5px;
                font-size: 1rem;
            }
        }
    }
}