<div class="cotainer-footer">
        <!-- <p>&copy; 2024 Your Company. All rights reserved.</p> -->
    <div class="cotainer-footer__about">
        <h3>Acerca de</h3>
        <div class="cotainer-footer__about--text">
            <a href="#">VikingoTech</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
            <a href="#">Uso de cookies</a>
        </div> 
    </div>

    <div class="cotainer-footer__about">
        <h3>Contacto</h3>
        <div class="cotainer-footer__about--text">
            <a [href]="'mailto: contacto@vikingotech.com'" target="_blank" rel="noopener noreferrer">Email: contacto@vikingotech.com</a>
            <a [href]="'https://api.whatsapp.com/send?phone=573178276492'" target="_blank" rel="noopener noreferrer">WhatsApp: 3178276492</a>
            <a href="https://www.google.com/maps?q=4.583096, -74.130617" target="_blank" rel="noopener noreferrer">Calle 47b sur #27-92, Colombia, Bogotá</a>
        </div>
    </div>

    <div class="cotainer-footer__about">
        <h3>Cuenta</h3>
        <div class="cotainer-footer__about--text">
            <a href="#">Iniciar sesión</a>
            <a href="#">Registrarse</a>
            <a href="#">Carrito de compras</a>
        </div>
    </div>


     <div class="cotainer-footer__about">
         <h3>Síguenos</h3>
         <div class="cotainer-footer__about--text">
             <a href="https://www.tiktok.com/@vikingotech07" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-tiktok"></i></a>
         </div>
     </div>

</div>