@use '../../../../styles/variables/variables' as variables;
@use '../../../../styles/variables/typography' as *;
@use '../../../../../src/styles/variables/mediaq' as *;

.container-header{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
        @include tablets{
            background-color: variables.$white;
            padding: 18px 20px;
        }
    &:hover{
        background-color: variables.$white !important;
        transition: background-color 0.3s ease;
    }
    &__hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: 40px;
        height: 40px;
        padding: 0;
        cursor: pointer;
        text-align: center;
        @include phone{
            gap: 20px;
        }
        mat-icon{
            width: 40px;
            height: 40px;
            text-align: center;
            
            font-size: 2rem;
            color: variables.$white;
            @include tablets{
                color: variables.$primary;
                font-size: 1.5rem;
                padding-top: 8px;
            }
            //cuando le haga hover al header el color del icono cambia
            .container-header:hover &{
                color: variables.$primary;
                transition: color 0.3s ease;
            }
        }
        img{
            width: 70px;
            height: 70px;
            padding: 0;
            @include phone{
                width: 50px;
                height: 50px;
            }
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-family: $main-family-Audiowide-Regular;

            font-size: 2.1rem;
            text-align: center;
            letter-spacing: 5px;
            color: variables.$white;
            cursor: pointer;
                @include tablets{
                    color: variables.$primary;
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                }
                @include phone{
                    font-size: 1.4rem;
                }
            
            .container-header:hover &{
                color: variables.$primary;
                transition: color 0.3s ease;
            }
            span{
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        img{
            width: 80px;
            height: 80px;
            padding: 0;
                @include phone{
                width: 50px;
                height: 50px;
            }
        }

    }
    &__actions{
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.2rem;
        @include tablets{
            gap: 2px;
        }
        
        mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        color: variables.$white;
        font-size: 1.8rem;
            @include tablets{
                width: 40px;
                height: 40px;
                color: variables.$primary;
                font-size: 1.2rem;
            }
            .container-header:hover &{
                color: variables.$primary;
                transition: color 0.3s ease;
            }
            @include tablets{
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(1){
                    display: none;
                }
            }

        }
        img{
            width: 70px;
            height: 70px;
            padding: 0;
                @include phone{
                width: 40px;
                height: 40px;
            }
        }

        .point-shopping{
            position: absolute;
            top: 0;
            right: -5px;
            background-color: variables.$danger;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: none; //cambiar a display block con angular cuando haya productos en el carrito
            //colocar delante de los demas elementos
        }
        
    }
}

.container-search{
    display: none;//cambiar a display flex con angular cuando se haga click en el icono de busqueda
    align-items: center;
    justify-content: center;
    background-color: variables.$white;
    gap: 10px;
    input{
        width: 100%;
        padding: 8px 35px 8px 15px;
        border: none;
        font-size: 1.3rem;
        outline: none;
        font-family: $main-family-Roboto-Regular;
        //cambiar el color del texto que va dentro del input
        color: variables.$primary;
        &::placeholder{
            color: variables.$gray-600;
            font-family: $main-family-Roboto-Regular;
        }
    }
    i{  
        font-size: 1.2rem;
        color: variables.$gray-600;
        text-align: center;
        padding-left: 40px;
        color: variables.$primary;
    }
}

.scrolled {
    background-color: variables.$white; // fondo blanco al hacer scroll
    color: variables.$primary
}
.color{
    color: variables.$primary; // color primario al hacer scrol
    
}