@use '../../../../styles/variables/variables' as *;
@use '../../../../styles/variables/mediaq' as *;

.container-products{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px 20px 10px;
    
    &__title{
        width: 100%;
        h2{
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 1.5px;
            text-transform: capitalize;
            color: $primary;
        }
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        app-card-products{
            width: 350px;
            @include tablets {
                width: 450px;
            }
            @include phone {
                width: 90%;
            }

        }

    }
}